/* Contact Section */
#contact {
    /* background-color: #a3d8ff; */
    background-color: #222020;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 85%;
    margin: auto;
    box-shadow: 4px 0px 8px 0px #ffffff53;

}

/* Title */
.contact-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #9f8888;
    margin-bottom: 20px;
}

/* Contact Buttons */
.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 2px solid orange;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orange;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.contact-box i {
    margin-right: 10px;
}

/* Hover Effect */
.contact-box:hover {
    background-color: orange;
    color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
